* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.logo{
  margin-left: 50px;
  float: left;
  width: 12%;
  z-index: 1001;
  position: fixed;

}
.logo img:hover{
  transition-duration: 1s;
  opacity:0.5;
}
.nav-wrapper .top-nav {
    background-color: #0d4c92;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

  .nav-wrapper .top-nav a {
    width: 15%;
    font-size: 20px;
    color: white;
    font-weight: 700;
    display: inline-block;
  }
  .nav-wrapper .top-nav a:hover {
    width: 15%;
    font-size: 20px;
    color: rgb(177, 174, 174);
    font-weight: 700;
    display: inline-block;
  }
  /********************************TITLE******************************/
  .main{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
  }
  .main .title{
    width: 100%;
    height:500px;
    background-image: url("img/mehmet-turgut-kirkgoz-ZiTcejqBJC4-unsplash.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.main .title .title-text{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .main .title .title-text h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 73px;
    color: #000000;
  }
/******************************OFERRS*********************************************/
  .main .offers{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    align-items: center;
    justify-items: center;
  }
  .main .offers .p1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 30px;

  }
  .main .offers .p2{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 30px;
  }
  .main .offers .p3{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .main .offers .a1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: none;
    font-size: 30px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;

  }
  .main .offers .a2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-decoration: none;
    font-size: 30px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .offers .a3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    text-decoration: none;
    font-size: 30px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .offers .a1:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .offers .a2:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .offers .a3:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .offers .n1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 100px;
        text-decoration: none;
        font-size: 40px;
        color: white;
        text-shadow: rgb(57, 57, 57) 2px 2px ;
    
      }
.main .offers .n2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-bottom: 100px;
        text-decoration: none;
        font-size: 40px;
        color: white;
        text-shadow: rgb(57, 57, 57) 2px 2px ;

      }
.main .offers .n3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-bottom: 100px;
        text-decoration: none;
        font-size: 40px;
        color: white;
        text-shadow: rgb(57, 57, 57) 2px 2px ;


      }

/* 

  .main .offers{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   margin: 20px;
  }
  .main .offers .p2{
    padding-top: 30px;
  }
  .main .offers .p3{
    padding-top: 30px;
  }
  .main .offers .a1{

    text-decoration: none;
    font-size: 40px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;

  }
  .main .offers .a2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: none;
    font-size: 40px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .offers .a3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-decoration: none;
    font-size: 40px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .offers .a1:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .offers .a2:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .offers .a3:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
} */
