* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.nav-wrapper .top-nav {
    background-color: #0d4c92;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

  .nav-wrapper .top-nav a {
    width: 15%;
    font-size: 20px;
    color: white;
    font-weight: 700;
    display: inline-block;
  }
  .nav-wrapper .top-nav a:hover {
    width: 15%;
    font-size: 20px;
    color: rgb(177, 174, 174);
    font-weight: 700;
    display: inline-block;
  }
  /*******************************TITLE***************************************/
  .main{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .main .title{
    width: 120%;
    height: 500px;
    background-image: url("img/andrew-coelho-pX7mX52yOvU-unsplash.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  .main .title .title-text{
    width: 1024px;
    height: 292px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .main .title .title-text h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 73px;
    color: #000000;
  }
  .main .decription {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color:#283544;
  }
  .main .gallery{
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    align-items: center;
    justify-items: center;
  }
  .main .gallery .p1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .main .gallery .p2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .main .gallery .p3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .main .gallery .p4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
.main .gallery .a1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: none;
    font-size: 50px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;

  }
  .main .gallery .a2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: none;
    font-size: 50px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .gallery .a3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-decoration: none;
    font-size: 50px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .gallery .a4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-decoration: none;
    font-size: 50px;
    color: rgb(249, 249, 249);
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 5;
    border: solid rgb(255, 255, 255) 0.5px;
    transition-duration: 1s;
  }
  .main .gallery .a1:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .gallery .a2:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .gallery .a3:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}
.main .gallery .a4:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:rgba(255, 255, 255, 0.8);
    color: black ;    
}