* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.logo{
  margin-left: 50px;
  float: left;
  width: 12%;
  z-index: 1001;
  position: fixed;

}
.logo img:hover{
  transition-duration: 1s;
  opacity:0.5;
}
.nav-wrapper .top-nav {
    background-color: #0d4c92;
    height: 50px;
    line-height: 45px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    }

  .nav-wrapper .top-nav a {
    width: 15%;
    font-size: 20px;
    color: white;
    font-weight: 700;
    display: inline-block;
  }
  .nav-wrapper .top-nav a:hover {
    width: 15%;
    font-size: 20px;
    color: rgb(177, 174, 174);
    font-weight: 700;
    display: inline-block;
  }
  /********************************TITLE******************************/
  .main{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
  }
  .main .title{
    width: 100%;
    height:500px;
    background-image: url("img/ishan-seefromthesky-WVziwa_DDwI-unsplash.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.main .title .title-text{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .main .title .title-text h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 73px;
    color: #000000;
  }
  .main .decription {
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color:#283544;
  }
  /********************************OFFERS**********************************/
  .main .offers{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
    margin-top:20px;
  }
  .main .offers .p1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 30px;

  }
  .main .offers .p2{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 30px;
  }
  /***************************************Zanzibar***********************************/
  .main .offers .zanzi{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    align-items: center;
    justify-items: center;
  }
  .main .offers .zanzi h2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 32px;
    margin-bottom: 30px;
    color: #0d4c92;
  }
  .main .offers .zanzi p{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 18px;
    margin-right: 20px;
  }
  .main .offers .zanzi a{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
    margin-right:50px;
    margin-top:25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px ;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 0.5px;
    transition-duration: 1s;
  }
  .main .offers .zanzi a:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:#0d4c92;
    color: rgb(255, 255, 255) ;    
}
/***************************SriLanka***************************/
.main .offers .srilanka{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
  }
  .main .offers .srilanka h2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 32px;
    margin-bottom: 30px;
    color: #0d4c92;
  }
  .main .offers .srilanka p{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 18px;
    margin-left: 20px;
  }
  .main .offers .srilanka a{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
    margin-right:50px;
    margin-top:25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px ;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 0.5px;
    transition-duration: 1s;
  }
  .main .offers .srilanka a:hover{
    border: solid rgb(255, 255, 255) 0.5px;
    background-color:#0d4c92;
    color: rgb(255, 255, 255) ;    
}